.parent{
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: rgb(249, 249, 249);
    padding: 10px 50px 20px 10px
    d


    ;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
   color: rgb(217, 137, 17);
}

#hello{
    font-family: 'poppins',sans-serif;
    color: lavender;
    text-align: center;
    position: absolute;
    top:20%;
    left: 40%;
}

#name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: aliceblue;
    text-align: center;
    position: absolute;
    top:25%;
    left:40%;
}
#img{
    font-family: 'poppins',sans-serif;
    color: aliceblue;
    text-align: center;
    position: absolute;
    top:33%;
    left: 40%;
}
#about{
    background-color: antiquewhite;
}
#a2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url("bg4.png");
    background-repeat: no-repeat;
    background-size:cover;
}
#a1{
    color:white;
  }
  #a2{
    color: white;
  }
  #a3{
    color: white;
  }
  #a4{
    color: white;
  }
  #a5{
    color: white;
  }
  #a6{
    color: white;
  }
  #a7{
    color: white;
  }
 form{
    color: aliceblue;
 }
 map{
    display: flex;
    
    justify-content: center;
 }